.site-header {
    padding-left: 1%;
    min-height: 8vh;
    align-content: center;
}

#hamburger {
    background-color: black;
    border-color: rgb(41, 41, 41);
    height: 55px;
    width: 55px;
}

#hamburger:hover {
    background-color: rgb(90, 90, 90);
    border-color: rgb(41, 41, 41);
    height: 55px;
    width: 55px;
}

#hamburger:active {
    background-color: rgb(100, 100, 100);
    border-color: rgb(255, 255, 255);
    height: 55px;
    width: 55px;
}

#hamburger-img {
    height: 40px;
    width: 40px;
}

#toLeft {
    padding-left: 0%;
}

#nav-links {
    display: block;
    font-family: sans-serif;
    background-color: rgb(212, 212, 212);
    position:absolute;
    width: 100%;
    padding-left: 1%;
}


#nav-links ul {
    padding-left: 1%;
    list-style-type: none;
}

#nav-links a {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}

#nav-links hr {
    height: 0px;
    background-color: black;
}

@media (max-width: 800px) {
    .site-header {
        display: block;
    }

    #nav-links {
        display: block;
    }
}

@media (min-width: 805px) {
    .site-header {
        display: none;
    }

    #nav-links {
        display: none;
    }
}